<template>
    <footer class="border-top p-4 px-5 d-md-flex justify-content-between bg-light">
        <div>
            <p>
                {{ $t('footer.author') }}
                <a href="https://avris.it" target="_blank" rel="noopener" class="text-nowrap">Andrea Vos</a>
                {{ $t('footer.base') }}
                <a href="https://www.facebook.com/lunarudd33/posts/10208509451606031" target="_blank" rel="noopener" class="text-nowrap">💡 {{ $t('footer.diagram') }}</a> 😍
            </p>
            <p v-if="$te('footer.translator')">
                <span v-html="$t('footer.translator')"></span> 🙏
            </p>
        </div>
        <ul class="list-unstyled text-right mt-3 mt-md-0">
            <li class="mb-2">
                <router-link :to="{name: 'privacy'}" class="text-nowrap mx-2">
                    🔒 {{ $t('privacy.header') }}
                </router-link>
            </li>
            <li class="mb-2">
                <a href="https://gitlab.com/Avris/Cake" target="_blank" rel="noopener" class="text-nowrap mx-2">
                    👨🏽‍💻 {{ $t('footer.source') }}
                </a>
            </li>
            <li class="mb-2">
                <a href="https://paypal.me/AndreAvris" target="_blank" rel="noopener" class="text-nowrap mx-2">
                    🍺 {{ $t('footer.donate') }}
                </a>
            </li>
            <li class="mb-2">
                <a href="https://spectrum.avris.it" target="_blank" rel="noopener" class="text-nowrap mx-2">
                    <img src="https://spectrum.avris.it/favicon.png" class="emoji" alt=""/>
                    {{ $t('otherProjects.spectrum') }}
                </a>
            </li>
        </ul>
    </footer>
</template>
<script setup lang="ts">
</script>